@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@keyframes slideup {
    0% { opacity: 0 }
    10% { opacity: 1 }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
* {
    box-sizing: border-box;
}
html {
    --side: 270px;
    --header: 65px;
}
body {
    margin: 0;
    background: #fafafa;
}
header {
    background: white;
    background: linear-gradient(70deg,  rgb(94, 199, 146), rgb(87, 237, 130));
    z-index: 4;
    height: var(--header);
    width: 100%;
    box-shadow: 0 0 1px #00000070;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
header .item {
    height: 100%;
    display: flex;
    align-items: center;
}
header #logo img {
    height: 48px;
    width: 48px;
}
header h1 {
    margin: 0;
    margin-left: 12px;
    color: white;
    font-size: 18px;
    transition: 0.1s;
}
header:hover h1{
}
aside {
    position: fixed;
    z-index: 3;
    background: white;
    box-shadow: 0 0 5px #00000030;
    width: var(--side);
    height: calc(100% - var(--header));
    bottom: 0;
}
aside .button {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #00000010;
    padding: 0 20px;
    color: #777;
}
aside .button:hover {
    color: #444;
}
aside .button span {
    margin-left: 15px;
    color: inherit;
    font-size: 16px;
}
aside .button i {
    font-size: 18px;
}
aside a:hover {
    text-decoration: none;
}
section.content {
    width: calc(100vw - var(--side));
    height: calc(100vh - var(--header));
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    padding: 15px;
}
section.content .card img {
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
}
.badge {
    opacity: 0.8;
}
.fluid_notification {
    position: absolute;
    top: 15px;
    right: 30px;
    max-width: 300px;
    width: 100vw;
    background: white;
    box-shadow: 0 0 3px #00000010;
    border-radius: 3px;
    border: 1px solid #ddd;
    z-index: 200;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: 2s slideup ease-in-out;
    opacity: 0;
}
.fluid_notification i {
    color: #42af71;
    font-size: 22px;
    margin-right: 20px;
}
canvas {
    background: white;
    box-shadow: 0 1px 2px #00000040;
    min-height: 400px;
    margin-bottom: 20px;
    width: 100%;
}
.charts {
    display: flex;
    justify-content: center;
}
.card-container {
    display: flex;
    align-items: stretch;
}
